* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}
*:focus {
    outline: 0;
}
html, body {
    height: 100%;
    scroll-behavior: smooth;
}
html:after,body:after{
    content: "";
    background: #8000ff;
    position: fixed;
    display: block;
    z-index: 0;
}
html:after{
    width: 5px;
    top: 0;
    right: 0;
    bottom: 0;
}
body:after{
    width: 5px;
    top: 0;
    bottom: 0;
    left: 0;
}
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #8000ff;
    z-index: 1;
}
.nav-item-container {
    text-align: center;
    height: 100%;
}
.nav-item-container a {
    text-decoration: none;
}
.nav-logo {
    height: 100%;
    width: auto;
    position: absolute;
    left: -5px;
    top: 0;
    z-index: 5;
}
.nav-item {
    list-style-type: none;
    height: 100%;
    display: inline-flex;
    align-items: center;
    color: white;
    padding: 0 15px;
    font-weight: 700;
}
.nav-item:hover {
    background-color: white;
    color: #383838;
}
.nav-click-fix {
    position: absolute;
    display: hidden;
    top: -49px; /*height of the navbar -1 for minor issues*/
}
.welcome-section {
    margin-top: 50px;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #8000ff;
    color:#383838;
    position: relative;
}
.welcome-header {
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
}
.welcome-subheader {
    font-size: 2.7rem;
    font-weight: 500;
    text-align: center;
}
.section-overlay {
    background-color: #8000ff;
    color: white;
    position: relative;
}
.about-section {
    margin: 0 auto 150px auto;
    position: relative;
}
.about-header {
    padding-top: 30px;
}
.section-header {
    text-align: center;
    font-size: 2.4rem;
}
.about-description {
    width: 35%;
    text-align: justify;
    margin: 30px auto;
    line-height: 140%;
}
.section-overlay:after {
    height: 125px;
    position: absolute;
    bottom: -125px;
    left: 0;
    right: 0;
    background-color: #8000ff;
    z-index: -1;
    content: '';
}
.about-technologies-container {
    width: 70%;
    margin: 35px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
}
.used-technology {
    width: 120px;
    margin: 20px 30px;
}
.img {
    width: 100%;
    height: auto;
}
.purple-color {
    filter: invert(41%) sepia(14%) saturate(1849%) hue-rotate(205deg) brightness(92%) contrast(79%)
}
.cyan-color {
    filter: invert(67%) sepia(70%) saturate(433%) hue-rotate(162deg) brightness(105%) contrast(97%);
}
.triangle {
    position: relative;
    background: #8000ff;
    height: 100px;
}
.triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 100px;
    border-color: #8000ff transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
}
.projects-section {
    margin: 150px auto;
    position: relative;
}
.projects-header {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.project {
    max-width: 1000px;
    display: flex;
    margin: 75px auto 100px auto;
    justify-content: center;
}
.project-info {
    width: 45%;
    position: relative;
    color: #383838;
}
.project-title {
    text-align: center;
    font-size: 1.7rem;
}
.project-description {
    text-align: justify;
    line-height: 140%;
    margin: 10px 0;
    font-weight: 500;
}
.project-technologies-container {
    display: flex;
    justify-content: center; 
    margin: 15px auto;
}
.project-technology {
    display: inline-block;
    width: fit-content;
    margin: 0 10px;
    text-align: center;
    width: 50px;
}
.project-footer {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}
.project-live {
    margin-right: 20px;
}
.project-source {
    margin-left: 20px;
}
.project-img {
    width: 55%;
    min-width: 425px;
}
.curved {
    position: relative;
    background: #8000ff;
    height: 125px;
}
.curved::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    height: 20%;
}
.contact-section {
    margin: 0 auto;
    position: relative;
}
.contact-header {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact-description {
    width: 375px;
    margin: 50px auto 30px auto;
    text-align: center;
    color: #383838;
    font-weight: 500;
    font-size: 1.2rem;
}
.contact-description a {
    font-weight: 500;
}
.contact-form {
    width: 325px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    border: 1px solid white;
    padding: 15px;
    background-color: #8000ff;
    color: white;
    font-weight: 500;
}
.form-header {
    margin-bottom: 20px;
    font-size: 1.4rem;
}
.contact-input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #8000ff;
    padding: 10px;
    margin-bottom: 10px;
    color: #383838;
    font-weight: 500;
    font-size: 1rem;
}
.contact-message {
    width: 100%;
    height: 120px;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Muli', sans-serif;
    border: 1px solid #8000ff;
    color: #383838;
    font-weight: 500;
    font-size: 1rem;
}
.contact-button {
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 15px;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
    border: 2px solid white;
    background-color: #8000ff
}
.contact-button:hover {
    background-color: white;
    color: #383838;
}
.contact-success {
   margin-top: 10px;
   display: none;
   font-weight: 700; 
   font-size: 1.1rem;
   color: white;
}
.contact-icons-container {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
.contact-icon {
    width: 50px;
    margin: 0 20px;
}
.footer-section {
   margin: 5px auto 0px auto;
   text-align: center;
   padding: 5px 0;
   background-color: #8000ff;
   color: white; 
}
.hidden-desktop {
    display: none;
}
@media (max-width: 1050px) {
    .about-description {
        width: 45%;
    }
    .about-technologies-container {
        width: 75%;
    }
    .used-technology {
        width: 110px;
        margin: 20px 25px;
    }
    .about-section {
        margin-bottom: 125px;
    }
    .about-header {
        margin: 0 40px;
    }
    .welcome-header {
        font-size: 5rem;
        font-weight: 700;
    }
    .welcome-subheader {
        font-size: 2.3rem;
    }
    .project {
        width: 90vw;
    }
}
@media (max-width: 925px) {
    .project {
        flex-direction: column;
        align-items: center;
        margin: 60px auto;
    }
    .project-img {
        width: 70%;
        min-width: 450px;
        margin: 0 auto;  
    }
    .project-info {
        width: 60%;
        min-width: 400px;
        margin: 20px auto 0 auto;
        order: 2;
    }
    .hidden-mobile {
        display: none;
    }
    .visible-mobile {
        display: block;
        color: #383838;
        margin-bottom: 10px;
        font-size: 1.5rem;
    }
    .projects-section {
        margin: 115px auto 90px auto;
    }
}
@media (max-width: 800px) {
    .contact-description {
        margin: 30px auto;
    }
    .projects-section {
        margin-bottom: 75px;
    }
    .project {
        margin: 60px auto;
    }
    .about-description {
        width: 55%;
    }
    .about-technologies-container {
        width: 80%;
    }
    .used-technology {
        width: 110px;
    }
    .about-section {
        margin-bottom: 90px;
    }
    .welcome-header {
        font-size: 4.5rem;
    }
    .welcome-subheader {
        font-size: 2.1rem;
    }
}
@media (max-width: 670px) {
    .about-description {
        width: 65%;
    }
    .about-technologies-container {
        width: 87%;
    }
    .used-technology {
        width: 100px;
        margin: 20px 20px;
    } 
    .about-section {
        margin-bottom: 80px;
    }
    .welcome-header {
        font-size: 3.8rem;
        line-height: 105%;
        margin-bottom: 20px;
    }
    .welcome-subheader {
        font-size: 1.8rem;
        font-weight: 600;
    }
}
@media (max-width: 500px) {
    .contact-description {
        width: 300px;
    }
    .triangle {
        height: 80px;
    }
    .triangle::before {  
        border-width: 65px 65px 0 65px;
    }
    .projects-section {
        margin-top: 100px; 
    }
    .about-description {
        width: 85%;
    }
    .about-section {
        margin-bottom: 40px;
    }
    .about-technologies-container {
        width: 90%;
    }
    .used-technology {
        width: 85px;
        margin: 20px 10px;
    }
    .nav-item-container {
        text-align: right;
    }
    .project {
        width: 95vw;
        margin: 45px auto;
    }
    .project-img {
        min-width: 100%;   
    }
    .project-info {
        min-width: 90%; 
        margin-top: 10px;
        font-size: 1.05rem;
    }
}
@media (max-width: 350px) {
    .contact-description {
        width: 280px;
    }
    .contact-form {
        width: 90%;
    } 
}